<div class="container">  
    
      <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card" >
                        <div class="card-body">
                          <h5 class="card-title">Administración</h5> 
                          <a [routerLink]="['/administrar/1']">
                            <img src="../../../assets/img/admin.png">                                                               
                          </a>                          
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Investigadores</h5>     
                          <a [routerLink]="['/investigador/0']">
                            <img src="../../../assets/img/investigador.png">                           
                          </a>                          
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Grupos</h5>
                          <a [routerLink]="['/grupo/0']">
                            <img src="../../../assets/img/grupo.png">      
                          </a>                          
                          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a> -->
                        </div>
                      </div>
                </div>
            </div>
            <div class="row justify-content-md-center" style="margin-top:2rem" >
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Convocatorias</h5>
                          <a [routerLink]="['/convocatoria']">
                            <img src="../../../assets/img/convocatoria.png">      
                          </a>                                                  
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Semilleros</h5>
                          <a [routerLink]="['/semillero/0']">
                            <img src="../../../assets/img/semillero.png">      
                          </a>                          
                        </div>
                      </div>
                </div>                
            </div>                   
        </div>       
      </div>    
</div>


