
.text-titulo
{
   text-align: center;
    font-family: 'Monserrat';
    font-size: 1rem;
    font-weight: bold;
}


.text-parrafo
{
  
    font-family: 'Muli';
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0rem;
}

.box-shadow {
    box-shadow: -3px 1rem 3rem 8px rgba(16, 16, 15, 0.35);
  }