<app-alerta [dataAlerta]="mensaje" (boton1)="onClicBoton1($event)"  (boton2)="onClicBoton2($event)"></app-alerta>
<div class="container">
    <div class="detalle2" style="width: 100%;margin-left: 0%;margin-top:5rem">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (navChange)="onChangeNavs($event)">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Información</a>
              <ng-template ngbNavContent>
                  <!-- <div class="row no-gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="card" style="margin-left: 0.5rem;margin-bottom: 0.5rem;">
                          <div class="card-header">
                            Información del semillero
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">  
                                <div class="form-group">
                                    <label>Nombre del Grupo</label>
                                    <input class="form-control form-control-sm" name="nombreGrupo" [(ngModel)]="nombre"/>    
                                </div>			
                            </div>	                      
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">  
                              <div class="form-group">
                                <label>Fecha creación</label>                                 
                                <div class="input-group">                                  
                                  <input class="form-control form-control-sm" 
                                        name="dp" #c2="ngModel" [(ngModel)]="fechaCreacion" ngbDatepicker #d="ngbDatepicker"  [maxDate]="maxDate" >
                                  <div class="input-group-append">
                                    <button  class="btn btn-secondary btn-sm fa fa-calendar" (click)="d.toggle()" type="button">
                                    
                                    </button>
                                  
                                  </div>
                                </div>
                              </div>   
                            </div>	
                          </div>
                          <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">     
                              <div class="form-group">
                                  <label>Código Colciencias</label>
                                  <input class="form-control form-control-sm" [(ngModel)]="GRU_COLC_CODI" />
                              </div>      
                          </div>  
                      
                          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">     
                              <div class="form-group">
                              <label>Categoría Colciencias</label>
                              <input class="form-control form-control-sm"  [(ngModel)]="GRU_CATE_COLC" />
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">     
                              <div class="form-group">   
                              <label>Avalado por la UNAD</label><br>
                              <div class="form-check form-check-inline"  >
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" [checked]="selAvalado" [value]="true"  [(ngModel)]="selAvalado">
                                <label class="form-check-label" for="exampleRadios1">
                                  SI 
                                </label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [checked]="selNoAvalado" [value]="false"  [(ngModel)]="selAvalado">
                                <label class="form-check-label" for="exampleRadios2">
                                  NO 
                                </label>
                              </div>                           
                              </div>
                            </div>  
                          </div>                        
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">     
                              <div class="form-group">                             
                                <label>Área</label>               
                                <select class="form-control form-control-sm" [(ngModel)]="selArea" >
                                 <option [ngValue]=null>Seleccione ...</option>
                                 <option *ngFor="let area of listArea" [ngValue]="area">
                                    {{area.ARE_NOMB}}
                                 </option>
                               </select>
                              </div>
                            </div>                        
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">     
                              <div class="form-group">                                  
                                <label>Centro</label>               
                                <select class="form-control form-control-sm" [(ngModel)]="selCentro" >
                                 <option [ngValue]=null>Seleccione ...</option>
                                 <option *ngFor="let centro of listCentro" [ngValue]="centro">
                                    {{centro.CEN_NOMB}}
                                 </option>
                               </select>
                              </div>
                            </div>  
                           
                          </div>                                              
                        </div>
                    </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="card">
                              <div class="card-header">
                                Información del director de grupo
                              </div>
                              <div class="card-body">
                              <div class="row">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">                                                                        
                                      <label>{{infoNombre}}</label>                                    
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                      <label>{{infoApellido}}</label>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label>{{infoZona}}</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label>{{infoCentro}}</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                  <label>{{infoEscuela}}</label>
                                </div>
                              </div>
                              <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                  <label>{{infoPrograma}}</label>
                              </div>   
                              </div>                            
                            </div>
                        </div>
                    </div>
                  
                  </div>-->
                  <div class="card-footer text-muted text-right">
                    <button type="button" class="btn btn-outline-primary btn-sm mr-1" (click)="onGuardar()">Guardar</button>
                    <button type="button" class="btn btn-outline-danger btn-sm"  (click)="onSalir()">Salir</button>                        
                  </div> 
              </ng-template>
            </li>
            <li [ngbNavItem]="2" [disabled]="disabled">
              <a ngbNavLink>Líneas de investigación</a>
              <ng-template ngbNavContent>
               
              </ng-template>
            </li>
            <li [ngbNavItem]="3" [disabled]="disabled">
              <a ngbNavLink>Integrantes</a>
              <ng-template ngbNavContent>
               
              </ng-template>
            </li>
            <li [ngbNavItem]="4" [disabled]="disabled">
              <a ngbNavLink>Programas académicos</a>
              <ng-template ngbNavContent>
              
              </ng-template>
            </li>
            <li [ngbNavItem]="5" [disabled]="disabled">
              <a ngbNavLink>Proyectos y productos</a>
              <ng-template ngbNavContent>
              
              </ng-template>
            </li>
            <li [ngbNavItem]="6" [disabled]="disabled">
              <a ngbNavLink>Documentos</a>
              <ng-template ngbNavContent>
              
              </ng-template>
            </li>
          </ul>
         
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
         
    </div>
   
</div>