<div class="container">  
 
    <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Gestión convocatoria</h5>    
                        <img src="/assets/img/convocatoria.png">                    
                      </div>
                    </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Registro propuestas</h5>     
                        <img src="/assets/img/propuesta.png">                           
                      </div>
                    </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Evaluación propuestas</h5>
                        <img src="/assets/img/evaluacion.png">      
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                      </div>
                    </div>
              </div>
          </div>  
          <div class="card-footer text-muted text-right">            
            <button type="button" class="btn btn-outline-danger btn-sm"  (click)="goBack()">Salir</button>                        
          </div>                     
      </div>       
    </div>    
</div>
