<div class="container">  
 
    <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Gestión convocatoria</h5>    
                        <a [routerLink]="['/convocatoria/gestion']">
                          <img src="/assets/img/convocatoria.png">        
                        </a>                                      
                      </div>
                    </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Registro propuestas</h5>  
                        <a [routerLink]="['/convocatoria/propuesta']">
                          <img src="/assets/img/propuesta.png">                           
                        </a>         
                        
                      </div>
                    </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Evaluación propuestas</h5>                        
                        <a [routerLink]="['/convocatoria/evaluar']">
                          <img src="/assets/img/evaluacion.png">      
                        </a>                                                        
                      </div>
                    </div>
              </div>
          </div>  
          <div class="row no-gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
              <div class="card-footer text-muted text-right">            
                <button type="button" class="btn btn-outline-danger btn-sm"  (click)="goBack()">Salir</button>                        
              </div>                     
            </div>
          </div>

      </div>       
    </div>    
</div>
