
<div class="container">     
    <div class="card">
      <div class="card-body">
          <div class="row  justify-content-md-center">
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                  <div class="card" >
                      <div class="card-body">
                        <h5 class="card-title">Usuarios</h5> 
                        <a [routerLink]="['/menu/administracion']">
                          <img src="/assets/img/users.png">                                                               
                        </a>                          
                      </div>
                    </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                  <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Avales grupos semilleros</h5>     
                        <a [routerLink]="['/menu/investigador']">
                          <img src="/assets/img/aval.png">                           
                        </a>                          
                      </div>
                    </div>
              </div>

          </div>
          <div class="row justify-content-md-center" style="margin-top:2rem" >
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                  <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Gestión base datos</h5>
                        <a [routerLink]="['/menu/convocatoria']">
                          <img src="/assets/img/basedatos.png">      
                        </a>                                                  
                      </div>
                    </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                  <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Reportes</h5>
                        <a [routerLink]="['/menu/semillero']">
                          <img src="/assets/img/reporte.png">      
                        </a>                          
                      </div>
                    </div>
              </div>                
             
          </div>   
          <div class="card-footer text-muted text-right">            
            <button type="button" class="btn btn-outline-danger btn-sm"  (click)="goBack()">Salir</button>                        
          </div>           
      </div>       
    </div>    
</div>